
    <div class="splide single-slider slider-no-dots slider-no-arrows slider-boxed text-center" id="single-slider-3">
      <div class="splide__track">
        <div class="splide__list">
          <div class="splide__slide">
            <div class="card card-style mx-0 shadow-card shadow-card-m bg-14" data-card-height="230">
              <div class="card-bottom pb-3 px-3">
                <h3 class="color-white mb-1">آرایش داماد و خدمات عروسی</h3>
                <p class="color-white opacity-80 mb-0 mt-n1 font-14">با استفاده از بهترین و مرغوب ترین مواد</p>
              </div>
              <div class="card-overlay bg-gradient-fade"></div>
            </div>
          </div>
          <div class="splide__slide">
            <div class="card card-style mx-0 shadow-card shadow-card-m bg-2" data-card-height="230">
              <div class="card-bottom pb-3 px-3">
                <h3 class="color-white mb-1">اصلاح سر و صورت</h3>
                <p class="color-white opacity-80 mb-0 mt-n1 font-14">با استفاده از جوان سازی و شفاش سازی پوست</p>
              </div>
              <div class="card-overlay bg-gradient-fade"></div>
            </div>
          </div>
          <div class="splide__slide">
            <div class="card card-style mx-0 shadow-card shadow-card-m bg-7" data-card-height="230">
              <div class="card-bottom pb-3 px-3">
                <h3 class="color-white mb-0">خدمات زیبایی آقایان</h3>
                <p class="color-white opacity-80 mb-0 mt-n1">شفاش سازی و جوان سازی پوست</p>
              </div>
              <div class="card-overlay bg-gradient-fade"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-style">
			<div class="content mb-0 text-center px-2">
				<h3 class="font-18 mb-1">خدمات ما</h3>
				<div class="row text-center row-cols-3 mb-0">
					<a class="col">
						<img src="images/pictures/BarberShop/2.png" data-src="images/pictures/3s.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3" (click)="cutHair()">اصلاح سر</p>
					</a>
					<a class="col" data-gallery="gallery-1" href="images/pictures/3s.jpg" title="عروس دریایی">
						<img src="images/pictures/BarberShop/3.png" data-src="images/pictures/14s.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3">اصلاح صورت</p>
					</a>
					<a class="col" data-gallery="gallery-1" href="images/pictures/3s.jpg" title="قالب یخ">
						<img src="images/pictures/BarberShop/4.png" data-src="images/pictures/3s.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3">آرایش داماد</p>
					</a>
					<a class="col" data-gallery="gallery-1" href="images/pictures/7t.jpg" title="پرتره">
						<img src="images/pictures/BarberShop/5.png" data-src="images/pictures/7t.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3">خدمات پوست</p>
					</a>
					<a class="col" data-gallery="gallery-1" href="images/pictures/3s.jpg" title="نئون ها">
						<img src="images/pictures/BarberShop/6.png" data-src="images/pictures/10s.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3">اصلاح کودکان</p>
					</a>
					<a class="col" data-gallery="gallery-1" href="images/pictures/3s.jpg" title="گل">
						<img src="images/pictures/BarberShop/7.png" data-src="images/pictures/11s.jpg" class="preload-img img-fluid rounded-circle entered loaded" alt="img" data-ll-status="loaded">
						<p class="font-600 color-theme font-12 pb-3">رنگ مو</p>
					</a>
				</div>
			</div>
		</div>
    <div class="card card-style py-3">
      <div class="content px-2 text-center">
        <!-- <h5 class=" font-12 color-highlight font-700">وقت آن است که حرکت کنید</h5> -->
        <h4>همین امروز از تخفیف های آرایشگاه استفاده کنید</h4>
        <p class="mb-3">
          پروفایل خودرا بسازید و با هربار مراجعه به آرایشگاه سعید از تخفیف های باشگاه مشتریان بهره مند شوید.
        </p>
        <a href="#" target="_blank" class="default-link btn btn-m rounded-s gradient-highlight shadow-bg shadow-bg-s px-5 mb-0 mt-2">ساخت پروفایل</a>
      </div>
    </div>