<div id="page">

    <!-- Header -->
    <div class="header-bar header-fixed header-app header-bar-detached">
        <a href="#" class="header-title color-theme" style="margin-right: 1rem;">آرایشگاه امیر</a>
        <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-color"><i class="bi bi-palette-fill font-13 color-highlight"></i></a>
    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#menu-bell"><em class="badge bg-highlight ms-1">3</em><i class="font-14 bi bi-bell-fill"></i></a>
        <a href="#" class="show-on-theme-light" data-toggle-theme><i class="bi bi-moon-fill font-13"></i></a>
        <a href="#" class="show-on-theme-dark" data-toggle-theme ><i class="bi bi-lightbulb-fill color-yellow-dark font-13"></i></a>
    </div>
  
  <!-- Footer Bar-->
    <!-- <div id="footer-bar" class="footer-bar footer-bar-detached">
    <a href="index-pages.html"  class="active-nav"><i class="bi bi-heart-fill font-25"></i><span class="font-15">صفحه اصلی</span></a>
        <a href="index-components.html"><i class="bi bi-star-fill font-25"></i><span class="font-15">پروفایل</span></a>
        <a href="index.html"><i class="bi bi-house-fill font-25"></i><span class="font-15">تقویم</span></a>
    </div> -->
  
  <!-- Main Sidebar-->
  <div id="menu-main" data-menu-active="nav-homes" data-menu-load="menu-main.html"
    style="width:280px;" class="offcanvas offcanvas-end offcanvas-detached rounded-m">
  </div>
  
  <!-- Menu Highlights-->
  <div id="menu-color" data-menu-load="menu-highlights.html"
    style="height:340px" class="offcanvas offcanvas-bottom offcanvas-detached rounded-m">
  </div>
  
  <!-- Main Bell-->
  <!-- <div id="menu-bell"	data-menu-load="menu-bell.html"
    style="height:400px;" class="offcanvas offcanvas-top offcanvas-detached rounded-m">
  </div> -->
  
    <!-- Your Page Content Goes Here-->
    <div class="page-content header-clear-medium">
        <router-outlet></router-outlet>
    </div>
  

  </div>
